/* Write your CSS here */
.container {
  background-image: linear-gradient(#fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading {
  font-family: 'Roboto';
  color: #ffffff;
}

.button {
  color: #dd1264;
  background-color: #ffffff;
  border: 10px solid;
}

.btn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  margin: 30px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
}
.names-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paragraph {
  background-color: #fddddb;
  margin: 50px;
  margin-top: 10px;
  padding: 20px;
}
